.title {
    font-weight: 800;
}
.box {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightblue;
    padding: 5px 10px 10px 10px;
}
.clientCard {
    display: flex;
    background-color: white;
    width: 100%;
}
.videos {
    width: 100%;
    position: relative;
opacity: .7;
transition: .2s;
}
.videos:hover  {
    opacity: 1;
    transition: .2s;
}
.videos:hover  .btn {
    color: yellow;
    padding: 20px 25px;
    transition: .4s;
}
.videos .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    color: white;
    padding: 10px 15px;
    z-index: 111;
    transition: .4s;    
}
.aboutUs {
    font-size: 16px ;
    padding: 20px 5px;
}
.aboutUs  span {
    font-size: 11px;
}